.activeLearningSections {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 20px 10px rgba(0, 0, 0, 0.051);
  padding: 17px 37px 64px;
  margin-top: 60px;
}

.sectionTitle {
  font-size: 35px;
  font-weight: 300;
  color: #707070;
  text-align: right;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 73px;
}

.question {
  font-size: 20px;
  font-weight: 500;
  color: #707070;
  text-align: right;
  margin-bottom: 33px;
}

.inputField {
  width: 100%;
  font-size: 20px;
  color: #707070;
  border: none;
  background: transparent;
  text-align: right;
  padding: 5px 0;
}

.indicator {
  background-color: #e3e3e3;
  height: 2px;
  width: 100%;
  margin: 6px 0 30px;
}

.label {
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.47px;
  color: #707070;
  text-align: right;
}

@media (max-width: 991px) {
  .activeLearningSections {
    padding: 17px 20px 64px;
  }
}
