.pageContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f0f0f0;

}

.content {
  display: flex;
  align-items: flex-start; /* מבטיח שהתפריט והתוכן יתחילו מאותה נקודה למעלה */
  margin-top: 20px;
}

/* תפריט צדדי */
.sideMenu {
  position: sticky;
  top: 20px; /* התפריט יידבק 20 פיקסלים מהחלק העליון */
  align-self: flex-start; /* מבטיח שהתפריט לא יימתח לגובה מלא */
  width: 200px;
  height: fit-content;
  padding: 0;
  text-align: center;
  margin-right: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* מוסיף צל כדי להבליט את התפריט */
}

.imageContainer {
  position: relative;
}

.menuImage {
  width: 100%;
  height: auto;
  display: block;
}

/* שכבת הקישורים שמכסה את התמונה */
.linkOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.linkOverlay li {
  flex: 1;
  position: relative;
}

.linkOverlay a {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0; /* הופך את הקישורים לבלתי נראים אך עדיין לחיצים */
  cursor: pointer;
}

/* עיצוב התוכן */
.mainContent {
  flex: 1;
  /*padding: 20px;*/
  margin-right: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.section {
  padding-bottom: 50px;
  border-bottom: 1px solid #ddd;
}

.section h2 {
  margin-bottom: 20px;
  font-size: 24px;
}
