.requirementsSection {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 20px 10px rgba(0, 0, 0, 0.051);
  padding: 23px 37px 86px;
  margin-top: 60px;
}

.sectionTitle {
  font-size: 35px;
  font-weight: 300;
  color: #707070;
  text-align: right;
  display: flex;
  align-items: center;
  gap: 3px;
  margin-bottom: 68px;
}

.requirementItem {
  display: flex;
  gap: 6px;
  margin-bottom: 60px;
}

.itemNumber {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.19px;
  color: #707070;
}

.itemText {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.67px;
  color: #707070;
  flex-grow: 1;
}

.indicator {
  background-color: #e3e3e3;
  height: 2px;
  width: 100%;
  margin: 18px 0;
}

.addButton {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #707070;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}

@media (max-width: 991px) {
  .requirementsSection {
    padding: 23px 20px 86px;
  }
}
